@import 'nord/src/lesscss/nord.less';

@media not all and (max-width: 450px) {
	.advanced-blur-backdrop {
		will-change: transform, opacity, backdrop-filter;
		transform: translate3d(0, 0, 0); /* 强制浏览器启用 GPU 加速 */

		@apply bg-nord3 bg-opacity-10;
		backdrop-filter: blur(6px) contrast(1.05) saturate(1.15) brightness(0.9);
		transition: backdrop-filter 0.3s cubic-bezier(0.22, 1, 0.36, 1); /* 此处防止效果很奇怪 */
	}
}

@media not all and (min-width: 450px) {
	.advanced-blur-before::before {
		filter: blur(6px) contrast(1.05) saturate(1.05);
		transition: filter 100ms cubic-bezier(0.37, 0, 0.63, 1);
	}
}
