@import 'modern-normalize';
@import (reference) '~/styles/color.less';

body {
	overflow: hidden;
	color: @fantasy-text;
	scroll-behavior: smooth;
	overscroll-behavior-y: none;
	font-synthesis: weight style;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background-color: @fantasy-bg-primary;
	-webkit-tap-highlight-color: transparent;
	font-family:
		// 默认
		'LXGW Bright',
		// 兜底
		'Noto Sans SC',
		'Noto Sans CJK SC',
		'Source Han Sans SC',
		'Source Han Sans CN',
		// 系统
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		'PingFang SC',
		// 通用
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji',
		'Segoe UI Symbol';
}

::selection {
	color: @fantasy-selection-text;
	background-color: @fantasy-selection-bg;
}

a {
	text-decoration: none;
	color: @fantasy-accent;
	transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);

	&:visited {
		color: inherit;
	}

	&:hover {
		color: @fantasy-accent-hover;
		text-shadow: @fantasy-glow-text;
	}

	&:active {
		text-shadow: none;
		color: @fantasy-accent-active;
	}

	&[href^='mailto:'] {
		color: inherit;
	}
}

svg {
	width: 1rem;
	height: 1rem;
	flex-shrink: 0;
	fill: currentColor;
	display: inline-block;
	vertical-align: middle;
}
