/* 正常字体 */
@font-face {
	font-family: 'Lxgw Bright';
	src: url('$/@lxgw/LxgwBright/LXGWBright/LXGWBright-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: optional;
}

body {
	font-weight: 500;
	font-family: 'Lxgw Bright', serif;

	/* 优化字体可读性 */
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;

	/* 增加字体渲染的对比度 */
	font-variant-ligatures: none;
	font-kerning: normal;
}
