@tailwind base;
@tailwind components;
@tailwind utilities;

@import './advanced-blur.less';

body {
	@apply h-screen w-screen;
	@apply font-serif font-bold;
	@apply bg-nord0 text-nord4;
	@apply flex items-center justify-center;
	@apply selection:bg-nord6 selection:bg-opacity-40;

	/* 优化字体可读性 */
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

.sweetalert-theme {
	@apply bg-nord0;

	/* 文本 */
	.swal-title,
	.swal-text {
		@apply text-nord4;
	}

	/* 按钮 */
	.swal-footer {
		.swal-button {
			@apply: bg-nord4;
		}

		.swal-button--confirm {
			@apply bg-nord10;
		}
	}
}
