@import url('$/@unocss/reset/tailwind.css'); /* 样式重置 */

@import './fonts.less';
@import './nprogress.less';
@import './animations.less';
@import './overlayscrollbars.less';

html {
	@apply "bg-black text-nord4";

	::selection {
		@apply "bg-nord9 bg-opacity-50 text-nord1";
		text-shadow: 0 0 1.5px rgba(0, 0, 0, 0.25);
	}
}

body {
	height: 100dvh;
}

svg {
	width: 1em;
	height: 1em;
	fill: currentColor;
}
