@import (reference) '~/styles/color.less';

code {
	font-family:
		// 首选
		'JetBrains Mono Variable',
		'JetBrains Mono',
		// 回退
		'Fira Code',
		'Cascadia Code',
		'Menlo',
		'Monaco',
		'SF Mono',
		'Consolas',
		'Lucida Console',
		'Courier New',
		'Ubuntu Mono',
		'Liberation Mono',
		ui-monospace,
		SFMono-Regular,
		'Roboto Mono',
		monospace;
}

// 行内代码
code:not(pre code) {
	font-size: 85%;
	overflow-x: auto;
	border-radius: 4px;
	color: @fantasy-cyan;
	padding: 0.2em 0.4em;
	border: 1px solid oklch(from @fantasy-cyan l c h / 0.15);
	background-color: oklch(from @fantasy-bg-primary 0.15 0.02 h);
}

pre.shiki,
pre[class*='language-'] {
	margin: unset;
	overflow: hidden;
	overflow-x: auto;
	position: relative;
	counter-reset: step;
	border-radius: 0px 0px 16px 16px/ 0px 0px 14px 14px;
	background-color: oklch(from @fantasy-bg-secondary 0.25 0.02 260);

	&:has(.line)::after {
		top: 0;
		bottom: 0;
		width: 1px;
		content: '';
		left: 3.3em;
		margin: unset;
		position: absolute;
		pointer-events: none;
		background-color: oklch(from @fantasy-accent l c h / 0.2);
	}

	code {
		display: block;

		&:not(:has(.line)) {
			padding: 0.8rem 1rem;
		}

		.line {
			position: relative;
			padding: 0 1em 0 3.8em;

			&::before {
				left: 0;
				opacity: 0.6;
				width: 3.2em;
				position: absolute;
				text-align: center;
				content: counter(step);
				counter-increment: step;
				color: @fantasy-accent;
			}
		}
	}

	// # 小屏幕
	@media (max-width: 1024px) {
		border-radius: 0px 0px 12px 12px / 0px 0px 10px 10px;

		&::after {
			display: none;
		}

		code {
			.line {
				padding-left: 1em;
				&::before {
					display: none;
				}
			}
		}
	}
}
